html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*:focus {
  outline: 3px solid #D04F4F;
}

h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 2.2rem;
  color: #D04F4F;
}

.search-bar {
  position: relative;
  margin-top: 20px;
}
.search-bar input {
  box-sizing: border-box;
  font-size: 1.2rem;
  background-color: #E7E7E7;
  width: 100%;
  height: 69px;
  border: none;
  border-radius: 5px;
  padding-left: 20px;
}
.search-bar input::placeholder {
  color: #b6b6b6;
}
.search-bar .search-icon {
  position: absolute;
  font-size: 1.8rem;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.filter-container {
  display: flex;
}
@media screen and (max-width: 992px) {
  .filter-container {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.filter-container .chevron-up {
  position: relative;
}
.filter-container .chevron-up::after {
  font-family: "Font Awesome 6 Free";
  content: " \f078";
  color: #fff;
  position: absolute;
  font-weight: 700;
  top: 44px;
  right: 40px;
  cursor: pointer;
}
.filter-container .chevron-down {
  position: relative;
}
.filter-container .chevron-down::after {
  font-family: "Font Awesome 6 Free";
  content: " \f077";
  color: #fff;
  position: absolute;
  font-weight: 700;
  top: 44px;
  right: 40px;
  cursor: pointer;
}
.filter-container .filter {
  margin-top: 15px;
  height: 69px;
  width: 170px;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-family: "Lato";
  font-weight: 700;
  font-size: 1.1rem;
  padding-left: 20px;
  margin-right: 20px;
  position: relative;
}
.filter-container .filter::placeholder {
  color: #fff;
}
.filter-container .filter--ingredients {
  background-color: #3282F7;
}
.filter-container .filter--ingredients:focus::placeholder {
  color: #94befb;
}
.filter-container .filter--appareils {
  background-color: #68D9A4;
}
.filter-container .filter--appareils:focus::placeholder {
  color: #b9eed5;
}
.filter-container .filter--ustensiles {
  background-color: #ED6454;
}
.filter-container .filter--ustensiles:focus::placeholder {
  color: #f7b8b0;
}
.filter-container .filter__list {
  display: none;
  margin-top: 0;
  padding-bottom: 20px;
  height: inherit;
  border-radius: 0 0 5px 5px;
  position: absolute;
  top: 80px;
  font-weight: 400;
  line-height: 30px;
}
.filter-container [data-filter-open] {
  width: 400px;
}

.recipe {
  border-radius: 5px;
  overflow: hidden;
  background-color: #E7E7E7;
  font-family: "Lato";
}
.recipe img {
  background-color: #C7BEBE;
  width: 100%;
  height: 180px;
  border: none;
}
.recipe__informations {
  padding: 20px 20px 30px 20px;
}
.recipe__info-header {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
}
.recipe__info-header p {
  font-weight: 700;
}
.recipe__info-main {
  margin-top: 20px;
  font-size: 0.8rem;
  line-height: 0.9rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.recipe__info-main p {
  font-family: "Roboto";
}
.recipe__ingredients-title {
  font-weight: 700;
}

body {
  margin: 0 100px 0 100px;
}
@media screen and (max-width: 690px) {
  body {
    margin: 0 30px 0 30px;
  }
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

svg {
  margin: 42px 0 8px 0;
}

.recettes-grille {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}
@media screen and (max-width: 992px) {
  .recettes-grille {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 690px) {
  .recettes-grille {
    gap: 20px;
  }
}
@media screen and (max-width: 480px) {
  .recettes-grille {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
